@import url('https://fonts.googleapis.com/css?family=Quicksand');


body {
	background: #202020;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}

.stopwatch {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	margin: -120px 0 0 -8px;
}

button {
	width: 80px;
	text-align: center;
	font: 1.2rem 'Quicksand', sans-serif;
	border-radius: 5px;
	background: #fff;
	border: none;
	outline: none;
}

button:hover {
	cursor: pointer;
	box-shadow: 0 0 10px rgba(255,255,255,0.7);
}

.reset {
	display: none;
	margin: 10px auto;
}

.stopwatch h1 {
	font: 40px 'Quicksand', sans-serif;
}

ul {
	list-style: none;
	padding: 0;
}

.line {
	width: 200px;
	border-radius: 2px;
	height: 1px;
	background: #eee;
	margin: 20px auto;
	display: none;
}

.total {
	display: none;
}